*.bak
*.dcu
*.ppu
*.o
*.obj
*.compiled
*.rsj
*/lib/
*/backup/
*/*/lib/
*/*/backup/
/testing/
/example/
*.key
*.crt
*.dbg
*.log
*.dll
*.exe
*.lps
*.sh
!/demo/openssl/certgen.sh
*.db
*.gz
*.zip
*.7z
testing.md
wchttpserver
wcrestjsonserver
link.res
ppas.bat
