*.bak
*.dcu
*.ppu
*.o
*.obj
*.compiled
*.rsj
/src/lib/
/demo/lib/
/src/backup/
/demo/backup/
/testing/
/example/
/src/openssl/backup/
*.key
*.crt
*.dbg
*.log
*.dll
*.exe
*.lps
*.sh
!/demo/openssl/certgen.sh
*.db
*.gz
*.zip
*.7z
testing.md
wchttpserver
link.res
ppas.bat
