/******************************************************************************\
 * LAYOUT
/******************************************************************************/

body{
  background: #515253;
  color: #ddd;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body, menu, ul, h6{
  padding: 0;
  margin:0;
}
button {outline: none}

#main{
  display: flex;
  height: calc(100% - 32px);
  overflow: hidden;
  position: absolute; /* columns will not be 100% height otherwise */
  width: 100%;
  min-height: 300px;
}

#time_area{
  width: 100%;
  text-align: center;
  height: calc(100% - 32px);
  font-size: 10em;  
}

/******************************************************************************\
 * TOOLBAR
/******************************************************************************/

menu{
  background: #808080;
  height: 30px;
  margin-right: 1px;
  padding: 1px;
  user-select: none;
}

#footer menu{
  box-shadow: 0 0 3px #333;
  margin: 0;
  /* border-top: 1px solid #585857; */
}

menu > li{
  display: inline-block;
  width: 29px;
  height: 28px;
  margin-right: 3px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 1px solid transparent;
  vertical-align: top;  
}

.iconButtonText {
  width: 108px;
  margin-top: 0px;
  padding-top: 0px;
  background-position: left;
  vertical-align: top;
}

.iconButtonText > div {
  display: block;    
  font-size: 12px; 
  margin-left: 28px;
  margin-top: 7px;  
}

menu > li.selected{
  background-color: #575756;
  border-radius: 4px;
  box-shadow: inset 0 0 1px #ccc;  
}

menu li:hover, menu li.dropdown.active{
  background-color: #575756;
  border-color: #535352 #3e3e3d #474746 #444443;
  border-radius: 4px;
  box-shadow: inset 0 0 1px #ccc;
}

menu li:active{
  background-color: #4c4c4b;
}

.separator::before{
  background: #4c4c4b;
  content: '';
  display: block;
  height: 18px;
  margin: 5px 0 0 -5px;
  width: 2px;
  pointer-events: none;
}

/* toolbar icons */
#button_connect{
  background-image: url("images/connect.svgz");
}

#button_connect.no_svg{
  background-image: url("images/connect.png");
}

#button_connect_ws{
  background-image: url("images/connect.svgz");
}

#button_connect_ws.no_svg{
  background-image: url("images/connect.png");
}

#button_disconnect{
  background-image: url("images/disconnect.svgz");  
  display: none;
}

#button_disconnect.no_svg{
  background-image: url("images/disconnect.png");  
}

.authorized #button_disconnect{
  display: inline-block;
}

.authorized #button_connect{
  display: none;
}

.authorized #button_connect_ws{
  display: none;
}

#button_run{
  background-image: url("images/run.svgz");
}

#button_run.no_svg{
  background-image: url("images/run.png");
}

.running #button_run{
  background-image: url("images/stop.svgz");
}

.running #button_run.no_svg{
  background-image: url("images/stop.png");
}

/******************************************************************************\
 * POPUPS
/******************************************************************************/

#form_auth{
  position: absolute;
  width: 200px;
  display: block;
  background: #808080;
  padding: 6px;
  border-radius: 0px 0px 4px 4px;
  top: -90px;
  border: 1px solid #3a3b3b;
  overflow: hidden;
  border-top: 0;
  margin-left: calc(50% - 107px);
  z-index: 2;
  transition-duration: 0.5s;
}
#form_auth input{display: block;width: calc(100% - 16px);border-radius: 4px;background: #46484a;border: 0;margin-bottom: 4px;padding: 4px 8px;color: #ccc;}
#form_auth button{
  background: linear-gradient(180deg, #696867 0%, #646362 100%);
  border-radius: 4px;
  border: 1px solid #414142;
  box-shadow: inset 0 0 1px #ccc;
  color: #ccc;
  cursor: pointer;
}

#button_login:hover, #button_cancel:hover{
  background: #696867;
}
#button_login:active, #button_cancel:active{
  background: #646362;
}

#button_cancel{
  float: right;
}

#form_auth.active{
  top: 0;
}
